.sliderContainer {
  width: 100%;
  overflow: hidden; 
  padding: 40px 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;

}

.partnerItem {
  display: flex;
  align-items: center;
  padding: 0 30px; 
}

.partnerText {
  font-size: 4rem;
  font-weight: 500;
  color: var(--vinaup-mint);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 2px;
  transition: color 0.3s ease;

 
}

