.sliderContainer {
  width: 100%;
  overflow: hidden; // Ẩn phần nội dung tràn ra ngoài khung
  padding: 40px 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;

}

.partnerItem {
  display: flex;
  align-items: center;
  padding: 0 30px; // Khoảng cách giữa các chữ
}

.partnerText {
  font-size: 3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 2px;
  transition: color 0.3s ease;

  &:hover {
    color: #f3a270; // Màu cam khi hover
  }
}

.divider {
  margin-left: 60px;
  color: #f3a270;
  font-size: 2rem;
  opacity: 0.6;
}
