.section {
  width: 100%;
  background-color: var(--vinaup-amber);
  padding: 80px 40px;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 60px;
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}



.imageWrapper {
  border-radius: 20px;
  overflow: hidden;
  justify-self: start;   
}

.image {
  width: 100%;
  max-width: 420px;   
  height: auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.serviceGrid {
  margin-top: auto;
  margin-bottom: auto;
}
// .topContent {
//   align-self: flex-start;
// }
.title {
font-size: clamp(2rem, 4vw, 45px);
  font-weight: 700;
  color:#ffffff
}

.subtitle {
  font-size: 22px;
  margin-bottom: 25px;
  color:#ffffff

}

.serviceGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.serviceItem {
  background: #f1f1f1;
  padding: 22px 20px;
  border-radius: 14px;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.25s ease;
  white-space: nowrap;


  @media (max-width: 768px) {
    white-space: normal;
  }
}

.tagHighlight {
  background-color: var(--vinaup-amber);
  border: 2px solid #ffffff;
  color:#ffffff
}