.searchWrapper {
  margin-bottom: 2rem;
  max-width: 100%;
}
.homeLink {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;

  span {
    font-weight: 600;
  }
}
.customSearchBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid var(--vinaup-moss);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  min-height: 64px;
}

.logoSection {
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  align-items: center;

  .logoText {
    font-size: 20px;
    font-weight: 600;
    color: var(--vinaup-amber);
    white-space: nowrap;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
      font-size: 1.1rem;
    }
  }
  .line {
    font-size: 20px;
    margin-left: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 40px;
  }
}

.searchBarRoot {
  flex: 2;
  min-width: 0;
}

.searchBarInput {
  width: 100%;
  color: #121212;
  font-size: 1rem;
  background: transparent;
  border: none;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }

  &::placeholder {
    color: #121212;
    font-style: italic;
  }
}
.actionSection {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.socialLink {
  display: flex;
  align-items: center;
  transition: transform 0.2s;

  svg {
    display: block;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.socialIcons {
  display: flex;
  gap: 25px;

  @media (min-width: 769px) {
    display: flex;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.drawerSocials {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;

  display: block;

  @media (min-width: 769px) {
    display: none;
  }
}
